<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Alex Raichev - Blog</title>
    <link href="http://raichev.net/theme/css/style.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="http://raichev.net/theme/css/pygment.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="http://raichev.net/" type="application/atom+xml" rel="alternate" title="Alex Raichev ATOM Feed" />
<!-- Using MathJax, with the delimiters $ -->
<!-- Conflict with pygments for the .mo and .mi -->
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
    "HTML-CSS": {
    styles: {
    ".MathJax .mo, .MathJax .mi": {color: "black ! important"}}
    },
    // tex2jax: {inlineMath: [['%','$'], ['\\(','\\)']],processEscapes: true}
    tex2jax: {inlineMath: [['\\(','\\)']],processEscapes: true}
    });
    MathJax.Hub.Register.StartupHook("HTML-CSS Jax Ready",function () {
    var VARIANT = MathJax.OutputJax["HTML-CSS"].FONTDATA.VARIANT;
    VARIANT["normal"].fonts.unshift("MathJax_SansSerif");
    VARIANT["bold"].fonts.unshift("MathJax_SansSerif-bold");
    VARIANT["italic"].fonts.unshift("MathJax_SansSerif-italic");
    VARIANT["-tex-mathit"].fonts.unshift("MathJax_SansSerif-italic");
    });
    MathJax.Hub.Register.StartupHook("SVG Jax Ready",function () {
    var VARIANT = MathJax.OutputJax.SVG.FONTDATA.VARIANT;
    VARIANT["normal"].fonts.unshift("MathJax_SansSerif");
    VARIANT["bold"].fonts.unshift("MathJax_SansSerif-bold");
    VARIANT["italic"].fonts.unshift("MathJax_SansSerif-italic");
    VARIANT["-tex-mathit"].fonts.unshift("MathJax_SansSerif-italic");
    });
</script>

<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>    <meta charset="utf-8">
    
</head>

<body>
<div id="container">    
<div id="header">

<script src="/js/d3.v3.min.js"></script>
<script src="/js/graph.js"></script> 

<h1>Alex Raichev</h1>
</div><!-- end #header -->

<div id="topMenu">
<ul>
        <li><a href="/index.html" 
>Welcome</a></li>
<li>/<li>        <li><a href="/pages/research-and-development.html" 
>R&amp;D</a></li>
<li>/<li>        <li><a href="/files/resume.pdf" 
>Résumé</a></li>
<li>/<li>        <li><a href="/blog.html" 
 
                class="active"
>Blog</a></li>
<li>/<li>        <li><a href="/archives.html" 
>Blogindex</a></li>
</ul>
</div><!-- end #topMenu -->

<div id="mainContent">  	

 
    
    <div class="blogItem">
    <h1><a href="http://raichev.net/prism-break.html">PRISM Break</a></h1>
    <div class="date">2013-07-05</div>
    <p>Opt out of PRISM, the NSA’s global data surveillance program.
For software tips, see <a class="reference external" href="http://prism-break.org/">http://prism-break.org/</a>.</p>
	

    <div class="blogMeta">        
    Author: Alex Raichev<br>
    Date: 2013-07-05<br>
        Tags:
        <a href="http://raichev.net/tag/website.html">
        website</a>,         <a href="http://raichev.net/tag/prism.html">
        PRISM</a>,         <a href="http://raichev.net/tag/security.html">
        security</a><br />
    <a href="http://raichev.net/prism-break.html#disqus_thread">Comments</a> -
    <a href="http://raichev.net/prism-break.html">Permalink</a>    
    </div>
    </div><!-- end #blogItem -->
    
    <div class="blogItem">
    <h1><a href="http://raichev.net/brahma.html">Brahma</a></h1>
    <div class="date">2013-06-04</div>
    <div class="line-block">
<div class="line"><br /></div>
<div class="line">If the red slayer think he slays,</div>
<div class="line-block">
<div class="line">Or if the slain think he is slain,</div>
</div>
<div class="line">They know not well the subtle ways</div>
<div class="line-block">
<div class="line">I keep, and pass, and turn again.</div>
<div class="line"><br /></div>
</div>
<div class="line">Far or forgot to me is near;</div>
<div class="line-block">
<div class="line">Shadow and sunlight are the same;</div>
</div>
<div class="line">The vanished gods to me appear;</div>
<div class="line-block">
<div class="line">And one to me are shame and fame.</div>
<div class="line"><br /></div>
</div>
<div class="line">They reckon ill who leave me out;</div>
<div class="line-block">
<div class="line">When me they fly, I am the wings;</div>
</div>
<div class="line">I am the doubter and the doubt,</div>
<div class="line-block">
<div class="line">I am the hymn the Brahmin sings.</div>
<div class="line"><br /></div>
</div>
<div class="line">The strong gods pine for my abode,</div>
<div class="line-block">
<div class="line">And pine in vain the sacred Seven;</div>
</div>
<div class="line">But thou, meek lover of the good!</div>
<div class="line-block">
<div class="line">Find me, and turn thy back on heaven.</div>
<div class="line"><br /></div>
</div>
<div class="line">~ Ralph Waldo Emerson, 1857</div>
</div>
<p>Apparently Emerson should have titled this poem 'Brahman' instead of 'Brahma'. For why and more insighful commentary, see <a class="reference external" href="/files/Chan1960.pdf">Emerson's Brahma: An Indian Interpretation, K. R. Chandrasekharan,
The New England Quarterly, Vol. 33, No. 4 (Dec., 1960), pp. 506-512</a>.</p>
	

    <div class="blogMeta">        
    Author: Alex Raichev<br>
    Date: 2013-06-04<br>
        Tags:
        <a href="http://raichev.net/tag/poem.html">
        poem</a>,         <a href="http://raichev.net/tag/emerson.html">
        Emerson</a><br />
    <a href="http://raichev.net/brahma.html#disqus_thread">Comments</a> -
    <a href="http://raichev.net/brahma.html">Permalink</a>    
    </div>
    </div><!-- end #blogItem -->
    
    <div class="blogItem">
    <h1><a href="http://raichev.net/flow.html">Flow</a></h1>
    <div class="date">2013-05-25</div>
    <div class="youtube" align="left"><iframe width="420" height="315" src="https://www.youtube.com/embed/jE1j5Om7g0U" frameborder="0"></iframe></div><p>Judson Brewer, an addiction psychiatrist and neuroscientist at Yale University, describes flow and his research findings on the topic.</p>
	

    <div class="blogMeta">        
    Author: Alex Raichev<br>
    Date: 2013-05-25<br>
        Tags:
        <a href="http://raichev.net/tag/nondual-awareness.html">
        nondual awareness</a>,         <a href="http://raichev.net/tag/video.html">
        video</a>,         <a href="http://raichev.net/tag/neuroscience.html">
        neuroscience</a><br />
    <a href="http://raichev.net/flow.html#disqus_thread">Comments</a> -
    <a href="http://raichev.net/flow.html">Permalink</a>    
    </div>
    </div><!-- end #blogItem -->
    
    <div class="blogItem">
    <h1><a href="http://raichev.net/the-new-world-of-sales.html">The New World of Sales</a></h1>
    <div class="date">2013-05-25</div>
    <div class="youtube" align="left"><iframe width="420" height="315" src="https://www.youtube.com/embed/O1bSwewzyjQ" frameborder="0"></iframe></div><p>Author Daniel H. Pink answers seven questions about pitching, selling, and closing for the 21st Century workforce.</p>
	

    <div class="blogMeta">        
    Author: Alex Raichev<br>
    Date: 2013-05-25<br>
        Tags:
        <a href="http://raichev.net/tag/sales.html">
        sales</a>,         <a href="http://raichev.net/tag/video.html">
        video</a><br />
    <a href="http://raichev.net/the-new-world-of-sales.html#disqus_thread">Comments</a> -
    <a href="http://raichev.net/the-new-world-of-sales.html">Permalink</a>    
    </div>
    </div><!-- end #blogItem -->
    
    <div class="blogItem">
    <h1><a href="http://raichev.net/blohg-to-pelican.html">Blohg to Pelican</a></h1>
    <div class="date">2013-05-11</div>
    <p>Over the past few days i moved this website's backend from <a class="reference external" href="http://blohg.org/">Blohg</a> to <a class="reference external" href="http://docs.getpelican.com/en/3.2/">Pelican</a>, both of which are <a class="reference external" href="https://en.wikipedia.org/wiki/Restructured_text">RST</a>-capable website generators.
I did so, because i don't need the dynamic Flask-application capabilities of Blohg and because Pelican is more mature and equally simple to use.</p>
<p>The transition was mostly smooth, but i did encounter a few issues that required me to search beyond Pelican's documentation to resolve.
To save new Pelicaneers the effort, here are those issues and resolutions.</p>
<p><strong>Issue 1</strong>: Custom paginated templates.</p>
<p>I wanted a separate landing page and blog page, and the Pelican docs don't elaborate on this point.
Querying the Pelican developers through the project's Github page, i received <a class="reference external" href="https://github.com/getpelican/pelican/issues/735#issuecomment-17674540">instructions from justinmayer</a>.
First, he said, i needed to make a custom template to house my blog, which i called <tt class="docutils literal">blog.html</tt>.
It contains the code</p>
<div class="highlight"><pre>{% extends &quot;base.html&quot; %}
{% set active_page = &quot;blog&quot; %}
{% block title %}{{ SITENAME }} - Blog{% endblock %}
{% block content %}
{% for article in (articles_page.object_list if articles_page else articles) %}
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;blogItem&quot;</span><span class="nt">&gt;</span>
    <span class="nt">&lt;h1&gt;&lt;a</span> <span class="na">href=</span><span class="s">&quot;{{ SITEURL }}/{{ article.url }}&quot;</span><span class="nt">&gt;</span>{{ article.title }}<span class="nt">&lt;/a&gt;&lt;/h1&gt;</span>
    {{ article.content }}

    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;blogMeta&quot;</span><span class="nt">&gt;</span>
    Author: <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">&quot;mailto: {{ AUTHOR_EMAIL }}&quot;</span><span class="nt">&gt;</span>{{ article.author }}<span class="nt">&lt;/a&gt;&lt;br&gt;</span>
    Date: {{ article.locale_date }}<span class="nt">&lt;br&gt;</span>
    {% if article.tags %}
        Tags:
        {% for tag in article.tags %}
            <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">&quot;{{ SITEURL }}/{{ tag.url }}&quot;</span><span class="nt">&gt;</span>
            {{ tag }}<span class="nt">&lt;/a&gt;</span>{% if not loop.last %}, {% endif %}
        {% endfor %}<span class="nt">&lt;br</span> <span class="nt">/&gt;</span>
    {% endif %}
    <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">&quot;{{ SITEURL }}/{{ article.url }}#disqus_thread&quot;</span><span class="nt">&gt;</span>Comments<span class="nt">&lt;/a&gt;</span> -
    <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">&quot;{{ SITEURL }}/{{ article.url }}&quot;</span><span class="nt">&gt;</span>Permalink<span class="nt">&lt;/a&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span><span class="c">&lt;!-- end #blogItem --&gt;</span>
{% endfor %}
{% include &#39;pagination.html&#39; %}
{% endblock content %}
</pre></div>
<p>By the way, here's the code for the pagination template <tt class="docutils literal">pagination.html</tt>:</p>
<div class="highlight"><pre>{% if articles_page and articles_paginator.num_pages &gt; 1 %}
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;pagination&quot;</span><span class="nt">&gt;</span>
    <span class="nt">&lt;ul&gt;</span>
    {% if articles_page.has_previous() %}
        {% set num = articles_page.previous_page_number() %}
        <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">&quot;prev&quot;</span><span class="nt">&gt;&lt;a</span> <span class="na">href=</span><span class="s">&quot;</span>
<span class="s">            {{ SITEURL }}/{{ page_name }}{{ num if num &gt; 1 else &#39;&#39;}}.html&quot;</span>
            <span class="nt">&gt;</span><span class="ni">&amp;laquo;</span><span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
    {% endif %}
    {% for num in range( 1, 1 + articles_paginator.num_pages ) %}
        <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">&quot;</span>
<span class="s">            {{ SITEURL }}/{{ page_name }}{{ num if num &gt; 1 else &#39;&#39; }}.html&quot;</span>
            <span class="na">class=</span><span class="s">&quot;{{ &#39;active&#39; if num == articles_page.number else &#39;&#39; }}&quot;</span>
            <span class="nt">&gt;</span>{{ num }}<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
    {% endfor %}
    {% if articles_page.has_next() %}
        <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">&quot;next&quot;</span><span class="nt">&gt;&lt;a</span> <span class="na">href=</span><span class="s">&quot;</span>
<span class="s">            {{ SITEURL }}/{{ page_name }}{{</span>
<span class="s">               articles_page.next_page_number() }}.html&quot;</span>
            <span class="nt">&gt;</span><span class="ni">&amp;raquo;</span><span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
    {% endif %}
    <span class="nt">&lt;/ul&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
{% endif %}
</pre></div>
<p>I got it from the <a class="reference external" href="https://github.com/getpelican/pelican-themes">tuxlit_tbs Pelican theme</a> and modified it to my liking.</p>
<p>Second, i had to add the following lines to my <tt class="docutils literal">pelicanconf.py</tt>.</p>
<div class="highlight"><pre><span class="n">DIRECT_TEMPLATES</span> <span class="o">=</span> <span class="p">((</span><span class="s">&#39;index&#39;</span><span class="p">,</span> <span class="s">&#39;blog&#39;</span><span class="p">,</span> <span class="s">&#39;tags&#39;</span><span class="p">,</span> <span class="s">&#39;categories&#39;</span><span class="p">,</span> <span class="s">&#39;archives&#39;</span><span class="p">))</span>
<span class="n">PAGINATED_DIRECT_TEMPLATES</span> <span class="o">=</span> <span class="p">((</span><span class="s">&#39;blog&#39;</span><span class="p">,))</span>
</pre></div>
<p><strong>Issue 2</strong>: Disqus comments.</p>
<p>This is another topic the Pelican docs don't elaborate on.
To embed Disqus comments in my blog pages, i read <a class="reference external" href="http://help.disqus.com/customer/portal/articles/472097">Disqus's help article on embedding comments</a> and <a class="reference external" href="http://help.disqus.com/customer/portal/articles/565624">Disqus's help article on adding comment counts</a> and did the following.</p>
<p>First, i made the template <tt class="docutils literal">disqus_comments.html</tt> which contains the code</p>
<div class="highlight"><pre>{% if DISQUS_SITENAME %}
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;blogItem&quot;</span><span class="nt">&gt;</span>
    <span class="nt">&lt;h2&gt;</span>Comments<span class="nt">&lt;/h2&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">id=</span><span class="s">&quot;disqus_thread&quot;</span><span class="nt">&gt;&lt;/div&gt;</span>
    <span class="nt">&lt;script </span><span class="na">type=</span><span class="s">&quot;text/javascript&quot;</span><span class="nt">&gt;</span>
        <span class="kd">var</span> <span class="nx">disqus_shortname</span> <span class="o">=</span> <span class="s1">&#39;{{ DISQUS_SITENAME }}&#39;</span><span class="p">;</span>
        <span class="p">(</span><span class="kd">function</span><span class="p">()</span> <span class="p">{</span>
            <span class="kd">var</span> <span class="nx">dsq</span> <span class="o">=</span> <span class="nb">document</span><span class="p">.</span><span class="nx">createElement</span><span class="p">(</span><span class="s1">&#39;script&#39;</span><span class="p">);</span>
            <span class="nx">dsq</span><span class="p">.</span><span class="nx">type</span> <span class="o">=</span> <span class="s1">&#39;text/javascript&#39;</span><span class="p">;</span>
            <span class="nx">dsq</span><span class="p">.</span><span class="nx">async</span> <span class="o">=</span> <span class="kc">true</span><span class="p">;</span>
            <span class="nx">dsq</span><span class="p">.</span><span class="nx">src</span> <span class="o">=</span> <span class="s1">&#39;http://&#39;</span> <span class="o">+</span> <span class="nx">disqus_shortname</span> <span class="o">+</span> <span class="s1">&#39;.disqus.com/embed.js&#39;</span><span class="p">;</span>
            <span class="p">(</span><span class="nb">document</span><span class="p">.</span><span class="nx">getElementsByTagName</span><span class="p">(</span><span class="s1">&#39;head&#39;</span><span class="p">)[</span><span class="mi">0</span><span class="p">]</span> <span class="o">||</span>
             <span class="nb">document</span><span class="p">.</span><span class="nx">getElementsByTagName</span><span class="p">(</span><span class="s1">&#39;body&#39;</span><span class="p">)[</span><span class="mi">0</span><span class="p">]).</span><span class="nx">appendChild</span><span class="p">(</span><span class="nx">dsq</span><span class="p">);</span>
        <span class="p">})();</span>
    <span class="nt">&lt;/script&gt;</span>
    <span class="nt">&lt;noscript&gt;</span>
        Please enable JavaScript to view the
        <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">&quot;http://disqus.com/?ref_noscript={{ DISQUS_SITENAME }}&quot;</span><span class="nt">&gt;</span>
            comments powered by Disqus.
        <span class="nt">&lt;/a&gt;</span>
    <span class="nt">&lt;/noscript&gt;</span>
    <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">&quot;http://disqus.com&quot;</span> <span class="na">class=</span><span class="s">&quot;dsq-brlink&quot;</span><span class="nt">&gt;</span>
        blog comments powered by <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">&quot;logo-disqus&quot;</span><span class="nt">&gt;</span>Disqus<span class="nt">&lt;/span&gt;</span>
    <span class="nt">&lt;/a&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
{% endif %}
</pre></div>
<p>and in my <tt class="docutils literal">article.html</tt> template added the line <tt class="docutils literal">{% include 'disqus_comments.html' %}</tt> before the line <tt class="docutils literal">{% endblock %}</tt>.
Doing so embeds Disqus comments for each blog post (article).</p>
<p>Second, i made the template <tt class="docutils literal">disqus_comment_counts.html</tt> which contains the code</p>
<div class="highlight"><pre>{% if DISQUS_SITENAME %}
    <span class="nt">&lt;script </span><span class="na">type=</span><span class="s">&quot;text/javascript&quot;</span><span class="nt">&gt;</span>
        <span class="kd">var</span> <span class="nx">disqus_shortname</span> <span class="o">=</span> <span class="s1">&#39;{{ DISQUS_SITENAME }}&#39;</span><span class="p">;</span>
        <span class="p">(</span><span class="kd">function</span> <span class="p">()</span> <span class="p">{</span>
            <span class="kd">var</span> <span class="nx">s</span> <span class="o">=</span> <span class="nb">document</span><span class="p">.</span><span class="nx">createElement</span><span class="p">(</span><span class="s1">&#39;script&#39;</span><span class="p">);</span> <span class="nx">s</span><span class="p">.</span><span class="nx">async</span> <span class="o">=</span> <span class="kc">true</span><span class="p">;</span>
            <span class="nx">s</span><span class="p">.</span><span class="nx">type</span> <span class="o">=</span> <span class="s1">&#39;text/javascript&#39;</span><span class="p">;</span>
            <span class="nx">s</span><span class="p">.</span><span class="nx">src</span> <span class="o">=</span> <span class="s1">&#39;http://&#39;</span> <span class="o">+</span> <span class="nx">disqus_shortname</span> <span class="o">+</span> <span class="s1">&#39;.disqus.com/count.js&#39;</span><span class="p">;</span>
            <span class="p">(</span><span class="nb">document</span><span class="p">.</span><span class="nx">getElementsByTagName</span><span class="p">(</span><span class="s1">&#39;HEAD&#39;</span><span class="p">)[</span><span class="mi">0</span><span class="p">]</span> <span class="o">||</span>
             <span class="nb">document</span><span class="p">.</span><span class="nx">getElementsByTagName</span><span class="p">(</span><span class="s1">&#39;BODY&#39;</span><span class="p">)[</span><span class="mi">0</span><span class="p">]).</span><span class="nx">appendChild</span><span class="p">(</span><span class="nx">s</span><span class="p">);</span>
        <span class="p">}());</span>
    <span class="nt">&lt;/script&gt;</span>
{% endif %}
</pre></div>
<p>and in my <tt class="docutils literal">base.html</tt> template added the line <tt class="docutils literal">{% include 'disqus_comment_counts.html' %}</tt> before the <tt class="docutils literal">&lt;/body&gt;</tt> tag.
That enables blog post comment counts via the tags <tt class="docutils literal">&lt;a <span class="pre">href=&quot;{{</span> SITEURL <span class="pre">}}/{{</span> article.url <span class="pre">}}#disqus_thread&quot;&gt;Comments&lt;/a&gt;</span></tt>.</p>
<p><strong>Issue 3</strong>: Typesetting math.</p>
<p>I wanted to use <a class="reference external" href="http://www.mathjax.org/">MathJax</a> to typeset math on this site.
Pelican has a <a class="reference external" href="https://github.com/getpelican/pelican-plugins">LaTeX plugin</a>, which uses MathJax, but doesn't work properly at present.
It didn't typeset math in the list view of my blog posts, only in the detail view of each post.
So i searched the web for an alternative and found <a class="reference external" href="https://www.ceremade.dauphine.fr/~amic/blog/mathjax-and-pelican-en.html">this helpful blog post</a> from another Pelican user.
Following its instructions, i added this Javascript code into the <tt class="docutils literal">&lt;head&gt;</tt> section of my <tt class="docutils literal">base.html</tt> template:</p>
<div class="highlight"><pre><span class="c">&lt;!-- Using MathJax, with the delimiters $ --&gt;</span>
<span class="c">&lt;!-- Conflict with pygments for the .mo and .mi --&gt;</span>
<span class="nt">&lt;script </span><span class="na">type=</span><span class="s">&quot;text/x-mathjax-config&quot;</span><span class="nt">&gt;</span>
    <span class="nx">MathJax</span><span class="p">.</span><span class="nx">Hub</span><span class="p">.</span><span class="nx">Config</span><span class="p">({</span>
    <span class="s2">&quot;HTML-CSS&quot;</span><span class="o">:</span> <span class="p">{</span>
    <span class="nx">styles</span><span class="o">:</span> <span class="p">{</span>
    <span class="s2">&quot;.MathJax .mo, .MathJax .mi&quot;</span><span class="o">:</span> <span class="p">{</span><span class="nx">color</span><span class="o">:</span> <span class="s2">&quot;black ! important&quot;</span><span class="p">}}</span>
    <span class="p">},</span>
    <span class="nx">tex2jax</span><span class="o">:</span> <span class="p">{</span><span class="nx">inlineMath</span><span class="o">:</span> <span class="p">[[</span><span class="s1">&#39;$&#39;</span><span class="p">,</span><span class="s1">&#39;$&#39;</span><span class="p">],</span> <span class="p">[</span><span class="s1">&#39;\\(&#39;</span><span class="p">,</span><span class="s1">&#39;\\)&#39;</span><span class="p">]],</span><span class="nx">processEscapes</span><span class="o">:</span> <span class="kc">true</span><span class="p">}</span>
    <span class="p">});</span>
    <span class="nx">MathJax</span><span class="p">.</span><span class="nx">Hub</span><span class="p">.</span><span class="nx">Register</span><span class="p">.</span><span class="nx">StartupHook</span><span class="p">(</span><span class="s2">&quot;HTML-CSS Jax Ready&quot;</span><span class="p">,</span><span class="kd">function</span> <span class="p">()</span> <span class="p">{</span>
    <span class="kd">var</span> <span class="nx">VARIANT</span> <span class="o">=</span> <span class="nx">MathJax</span><span class="p">.</span><span class="nx">OutputJax</span><span class="p">[</span><span class="s2">&quot;HTML-CSS&quot;</span><span class="p">].</span><span class="nx">FONTDATA</span><span class="p">.</span><span class="nx">VARIANT</span><span class="p">;</span>
    <span class="nx">VARIANT</span><span class="p">[</span><span class="s2">&quot;normal&quot;</span><span class="p">].</span><span class="nx">fonts</span><span class="p">.</span><span class="nx">unshift</span><span class="p">(</span><span class="s2">&quot;MathJax_SansSerif&quot;</span><span class="p">);</span>
    <span class="nx">VARIANT</span><span class="p">[</span><span class="s2">&quot;bold&quot;</span><span class="p">].</span><span class="nx">fonts</span><span class="p">.</span><span class="nx">unshift</span><span class="p">(</span><span class="s2">&quot;MathJax_SansSerif-bold&quot;</span><span class="p">);</span>
    <span class="nx">VARIANT</span><span class="p">[</span><span class="s2">&quot;italic&quot;</span><span class="p">].</span><span class="nx">fonts</span><span class="p">.</span><span class="nx">unshift</span><span class="p">(</span><span class="s2">&quot;MathJax_SansSerif-italic&quot;</span><span class="p">);</span>
    <span class="nx">VARIANT</span><span class="p">[</span><span class="s2">&quot;-tex-mathit&quot;</span><span class="p">].</span><span class="nx">fonts</span><span class="p">.</span><span class="nx">unshift</span><span class="p">(</span><span class="s2">&quot;MathJax_SansSerif-italic&quot;</span><span class="p">);</span>
    <span class="p">});</span>
    <span class="nx">MathJax</span><span class="p">.</span><span class="nx">Hub</span><span class="p">.</span><span class="nx">Register</span><span class="p">.</span><span class="nx">StartupHook</span><span class="p">(</span><span class="s2">&quot;SVG Jax Ready&quot;</span><span class="p">,</span><span class="kd">function</span> <span class="p">()</span> <span class="p">{</span>
    <span class="kd">var</span> <span class="nx">VARIANT</span> <span class="o">=</span> <span class="nx">MathJax</span><span class="p">.</span><span class="nx">OutputJax</span><span class="p">.</span><span class="nx">SVG</span><span class="p">.</span><span class="nx">FONTDATA</span><span class="p">.</span><span class="nx">VARIANT</span><span class="p">;</span>
    <span class="nx">VARIANT</span><span class="p">[</span><span class="s2">&quot;normal&quot;</span><span class="p">].</span><span class="nx">fonts</span><span class="p">.</span><span class="nx">unshift</span><span class="p">(</span><span class="s2">&quot;MathJax_SansSerif&quot;</span><span class="p">);</span>
    <span class="nx">VARIANT</span><span class="p">[</span><span class="s2">&quot;bold&quot;</span><span class="p">].</span><span class="nx">fonts</span><span class="p">.</span><span class="nx">unshift</span><span class="p">(</span><span class="s2">&quot;MathJax_SansSerif-bold&quot;</span><span class="p">);</span>
    <span class="nx">VARIANT</span><span class="p">[</span><span class="s2">&quot;italic&quot;</span><span class="p">].</span><span class="nx">fonts</span><span class="p">.</span><span class="nx">unshift</span><span class="p">(</span><span class="s2">&quot;MathJax_SansSerif-italic&quot;</span><span class="p">);</span>
    <span class="nx">VARIANT</span><span class="p">[</span><span class="s2">&quot;-tex-mathit&quot;</span><span class="p">].</span><span class="nx">fonts</span><span class="p">.</span><span class="nx">unshift</span><span class="p">(</span><span class="s2">&quot;MathJax_SansSerif-italic&quot;</span><span class="p">);</span>
    <span class="p">});</span>
<span class="nt">&lt;/script&gt;</span>

<span class="nt">&lt;script </span><span class="na">type=</span><span class="s">&quot;text/javascript&quot;</span>
<span class="na">src=</span><span class="s">&quot;http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML&quot;</span><span class="nt">&gt;</span>
<span class="nt">&lt;/script&gt;</span>
</pre></div>
<p>I removed the <tt class="docutils literal"><span class="pre">['$','$']</span></tt> item which allows dollar signs to delimit math text, as is standard in LaTeX documents, but it requires escaping every backslash in the math text with an additional backslash.
For now i'll stick with the standard RST role <tt class="docutils literal">:math:</tt> for inline math and the standard RST directive <tt class="docutils literal">.. math::</tt> for block math display.
The area of a circle is <span class="formula"><i>A</i><sub><span class="text">c</span></sub> = (<i>π</i> ⁄ 4)<i>d</i><sup>2</sup></span>
, that is,</p>
<div class="formula">
<i>A</i><sub><span class="text">c</span></sub> = <span class="fraction"><span class="ignored">(</span><span class="numerator"><i>π</i></span><span class="ignored">)/(</span><span class="denominator">4</span><span class="ignored">)</span></span><i>d</i><sup>2</sup>.
</div>
	

    <div class="blogMeta">        
    Author: Alex Raichev<br>
    Date: 2013-05-11<br>
        Tags:
        <a href="http://raichev.net/tag/tip.html">
        tip</a>,         <a href="http://raichev.net/tag/software.html">
        software</a><br />
    <a href="http://raichev.net/blohg-to-pelican.html#disqus_thread">Comments</a> -
    <a href="http://raichev.net/blohg-to-pelican.html">Permalink</a>    
    </div>
    </div><!-- end #blogItem -->
    
    <div class="blogItem">
    <h1><a href="http://raichev.net/delicious-dal.html">Delicious Dal</a></h1>
    <div class="date">2013-04-27</div>
    <div class="section" id="ingredients">
<h2>Ingredients</h2>
<ul class="simple">
<li>1.5 C     green or brown lentils</li>
<li>5 C       water</li>
<li>2 T       coconut oil</li>
<li>1 400mL can chopped tomatoes</li>
<li>1         onion chopped</li>
<li>2         cloves garlic chopped</li>
<li>1 T       shredded ginger</li>
<li>1 t       ground turmeric</li>
<li>1         hot chili</li>
<li>1         red capsicum chopped</li>
<li>1 t       salt</li>
<li>1 t       cumin seeds</li>
<li>2 t       black mustard seeds</li>
<li>some      coriander leaf for garnish</li>
</ul>
</div>
<div class="section" id="directions">
<h2>Directions</h2>
<ol class="arabic simple">
<li>Except for 1 T coconut oil, the cumin seeds, and the mustard seeds, put everything into a pressure cooker, and cook at high pressure for 11 minutes.</li>
<li>Fry the reserved coconut oil, cumin seeds, and mustard seeds until the mustard seeds begin to pop.</li>
<li>Add the fried seeds and oil to the soup, garnish with coriander leaf, and serve.</li>
</ol>
</div>
<div class="section" id="notes">
<h2>Notes</h2>
<p>Serves about 6.
C = cup, T = tablespoon, t = teaspoon.</p>
</div>
	

    <div class="blogMeta">        
    Author: Alex Raichev<br>
    Date: 2013-04-27<br>
        Tags:
        <a href="http://raichev.net/tag/recipe.html">
        recipe</a><br />
    <a href="http://raichev.net/delicious-dal.html#disqus_thread">Comments</a> -
    <a href="http://raichev.net/delicious-dal.html">Permalink</a>    
    </div>
    </div><!-- end #blogItem -->
    
    <div class="blogItem">
    <h1><a href="http://raichev.net/store-credit.html">Store Credit</a></h1>
    <div class="date">2013-04-11</div>
    <p>Here's the store credit problem from <a class="reference external" href="http://code.google.com/codejam/contest/dashboard?c=351101#s=p0">Google Code Jam Qualification Round Africa 2010</a>, which i discovered via <a class="reference external" href="http://programmingpraxis.com">Programming Praxis</a>:</p>
<p>You receive a credit C at a local store and would like to buy two items. You first walk through the store and create a list L of all available items. From this list you would like to buy two items that add up to the entire value of the credit. The solution you provide will consist of the two integers indicating the positions of the items in your list (smaller number first). For instance, with C=100 and L={5,75,25} the solution is 2,3; with C=200 and L={150,24,79,50,88,345,3} the solution is 1,4; and with C=8 and L={2,1,9,4,4,56,90,3} the solution is 4,5.</p>
<div class="section" id="algorithm-1">
<h2>Algorithm 1</h2>
<p>Brute force. Test all pairs in the list. O(n^2) time and O(n) space.</p>
</div>
<div class="section" id="algorithm-2">
<h2>Algorithm 2</h2>
<p>Sort the list and then iterate over the list, at each step looking for the complementary price of the current price via binary search.
O(n lg n) time and O(n) space.</p>
</div>
<div class="section" id="algorithm-3">
<h2>Algorithm 3</h2>
<p>Store the prices and indices in a dictionary and then iterate over the dictionary, at each step looking for the complementary price. Since dictionary look-up is constant time on average, this is an O(n) time (in the average case) and O(n) space algorithm.  Hooray!</p>
<p>Here's a Python 2.7 implementation:</p>
<div class="highlight"><pre><span class="k">def</span> <span class="nf">find_pair</span><span class="p">(</span><span class="n">credit</span><span class="p">,</span> <span class="n">prices</span><span class="p">):</span>
    <span class="c"># Make a dictionary with items of the form</span>
    <span class="c"># (price, set of indices of items with that price).</span>
    <span class="c"># Note that the price list could contain duplicate prices.</span>
    <span class="n">d</span> <span class="o">=</span> <span class="nb">dict</span><span class="p">()</span>
    <span class="k">for</span> <span class="p">(</span><span class="n">i</span><span class="p">,</span> <span class="n">p</span><span class="p">)</span> <span class="ow">in</span> <span class="nb">enumerate</span><span class="p">(</span><span class="n">prices</span><span class="p">):</span>
        <span class="n">d</span><span class="p">[</span><span class="n">p</span><span class="p">]</span> <span class="o">=</span> <span class="n">d</span><span class="o">.</span><span class="n">get</span><span class="p">(</span><span class="n">p</span><span class="p">,</span> <span class="nb">set</span><span class="p">())</span>
        <span class="n">d</span><span class="p">[</span><span class="n">p</span><span class="p">]</span><span class="o">.</span><span class="n">add</span><span class="p">(</span><span class="n">i</span> <span class="o">+</span> <span class="mi">1</span><span class="p">)</span>  <span class="c"># + 1 to index from 1 instead of 0.</span>
    <span class="k">for</span> <span class="n">price</span> <span class="ow">in</span> <span class="n">d</span><span class="o">.</span><span class="n">keys</span><span class="p">():</span>
        <span class="k">if</span> <span class="n">price</span> <span class="o">&lt;=</span> <span class="n">credit</span><span class="p">:</span>
            <span class="c"># Remove price index from d.</span>
            <span class="n">i</span> <span class="o">=</span> <span class="n">d</span><span class="p">[</span><span class="n">price</span><span class="p">]</span><span class="o">.</span><span class="n">pop</span><span class="p">()</span>
            <span class="c"># Check whether there&#39;s a complementary price in d.</span>
            <span class="k">if</span> <span class="n">credit</span> <span class="o">-</span> <span class="n">price</span> <span class="ow">in</span> <span class="n">d</span><span class="p">:</span>
                <span class="c"># This works even if price == credit - price.</span>
                <span class="n">j</span> <span class="o">=</span> <span class="n">d</span><span class="p">[</span><span class="n">credit</span> <span class="o">-</span> <span class="n">price</span><span class="p">]</span><span class="o">.</span><span class="n">pop</span><span class="p">()</span>
                <span class="k">return</span> <span class="nb">min</span><span class="p">(</span><span class="n">i</span><span class="p">,</span> <span class="n">j</span><span class="p">),</span> <span class="nb">max</span><span class="p">(</span><span class="n">i</span><span class="p">,</span> <span class="n">j</span><span class="p">)</span>
            <span class="c"># Reinsert price index into d.</span>
            <span class="n">d</span><span class="p">[</span><span class="n">price</span><span class="p">]</span><span class="o">.</span><span class="n">add</span><span class="p">(</span><span class="n">i</span><span class="p">)</span>
    <span class="k">return</span> <span class="s">&quot;Sorry, no pair of item costs sum to </span><span class="si">%s</span><span class="s">&quot;</span> <span class="o">%</span> <span class="n">credit</span>
</pre></div>
</div>
	

    <div class="blogMeta">        
    Author: Alex Raichev<br>
    Date: 2013-04-11<br>
        Tags:
        <a href="http://raichev.net/tag/algorithm.html">
        algorithm</a>,         <a href="http://raichev.net/tag/puzzle.html">
        puzzle</a><br />
    <a href="http://raichev.net/store-credit.html#disqus_thread">Comments</a> -
    <a href="http://raichev.net/store-credit.html">Permalink</a>    
    </div>
    </div><!-- end #blogItem -->
    
    <div class="blogItem">
    <h1><a href="http://raichev.net/cat-vs-dog.html">Cat Vs. Dog</a></h1>
    <div class="date">2013-04-02</div>
    <p>Updated for clarity 23 Sep 2013.</p>
<p>A friend of mine recently pointed me to Spotify's <a class="reference external" href="https://www.spotify.com/us/jobs/tech/catvsdog/">Cat vs. Dog puzzle</a>.
The question is long, and so i'll summarize it without its motivating context.</p>
<p>You are given n votes, each of which is a pair of strings of the form <span class="formula">(<i>Ci</i>, <i>Dj</i>)</span>
 (a cat-lover vote) or <span class="formula">(<i>Dj</i>, <i>Ci</i>)</span>
 (a dog-lover) for some integers <span class="formula">1 ≤ <i>i</i>, <i>j</i> ≤ <i>n</i></span>
.
This collection of votes can contain repeats.
Two votes <span class="formula">(<i>a</i>, <i>b</i>)</span>
 and <span class="formula">(<i>c</i>, <i>d</i>)</span>
 are said to conflict if <span class="formula"><i>a</i> = <i>d</i></span>
 or <span class="formula"><i>b</i> = <i>c</i></span>
.
So a conflict can only occur between a cat-lover vote and a dog-lover vote.
Your job is to find the size of a maximal subcollection of the votes in which no two votes conflict.</p>
<div class="section" id="algorithm-1">
<h2>Algorithm 1</h2>
<p>Brute-force.
Run through all possible subcollections of votes and test each for conflicts.
Choose the biggest non-conflicting subcollection.</p>
<p>This procedure would take <span class="formula"><i>O</i>(2<sup><i>n</i></sup>)</span>
 time in the worst case, because there are <span class="formula">2<sup><i>n</i></sup></span>
 subcollections to check.
That's very slow.
Can we be more clever?</p>
</div>
<div class="section" id="algorithm-2">
<h2>Algorithm 2</h2>
<p>Yes, model the problem with a graph.</p>
<ol class="arabic simple">
<li>Distinguish the votes by tagging each with a unique identifier, such as an integer between <span class="formula">1</span>
 and <span class="formula"><i>n</i></span>
.  This takes <span class="formula"><i>O</i>(<i>n</i>)</span>
 time.</li>
<li>Build the following undirected graph <span class="formula"><i>G</i></span>
. Make each vote a vertex, and add the edge <span class="formula">{<i>u</i>, <i>v</i>}</span>
 if <span class="formula"><i>u</i></span>
 and <span class="formula"><i>v</i></span>
 are conflicting votes. This takes <span class="formula"><i>O</i>(<i>n</i><sup>2</sup>)</span>
 time.  Notice that <span class="formula"><i>G</i></span>
 is bipartite, because every edge connects a cat-lover vote to a dog-lover vote and no vertex is both a cat-lover vote and a dog-lover vote.</li>
<li>Notice that every maximal subset of nonconflicting votes is the complement of a minimum vertex cover for <span class="formula"><i>G</i></span>
.  So find the size <span class="formula"><i>k</i></span>
 of a minimum vertex cover for <span class="formula"><i>G</i></span>
 and return <span class="formula"><i>n</i> − <i>k</i></span>
.  Now, <a class="reference external" href="https://en.wikipedia.org/wiki/Minimum_vertex_cover">finding the size of a minimum vertex cover in an arbitrary undirected graph is an NP-complete problem</a>, and there's no known sub-exponential time way to do that.  However, our graph is bipartite, and so by <a class="reference external" href="http://en.wikipedia.org/wiki/K%C3%B6nig%27s_theorem_%28graph_theory%29">Koenig's theorem</a>, the size of a minimum vertex cover of <span class="formula"><i>G</i></span>
 equals the size of a maximum matching for <span class="formula"><i>G</i></span>
, the latter of which can be found by the <a class="reference external" href="https://en.wikipedia.org/wiki/Hopcroft%E2%80%93Karp_algorithm">Hopcroft-Karp algorithm</a> in <span class="formula"><i>O</i>(|<i>E</i>|<span class="sqrt"><span class="radical">√</span><span class="ignored">(</span><span class="root"><i>n</i></span><span class="ignored">)</span></span>)</span>
 time, where <span class="formula">|<i>E</i>|</span>
 is the number of edges in <span class="formula"><i>G</i></span>
.  In the worst case, <span class="formula">|<i>E</i>| = <i>n</i><sup>2</sup></span>
 and running Hopcroft-Karp takes <span class="formula"><i>O</i>(<i>n</i><sup>2.5</sup>)</span>
 time.</li>
</ol>
<p>So all up, Algorithm 2 takes <span class="formula"><i>O</i>(<i>n</i><sup>2.5</sup>)</span>
 time in the worst case.</p>
</div>
	

    <div class="blogMeta">        
    Author: Alex Raichev<br>
    Date: 2013-04-02<br>
        Tags:
        <a href="http://raichev.net/tag/algorithm.html">
        algorithm</a>,         <a href="http://raichev.net/tag/puzzle.html">
        puzzle</a><br />
    <a href="http://raichev.net/cat-vs-dog.html#disqus_thread">Comments</a> -
    <a href="http://raichev.net/cat-vs-dog.html">Permalink</a>    
    </div>
    </div><!-- end #blogItem -->
    
    <div class="blogItem">
    <h1><a href="http://raichev.net/contours-a-mathematical-coloring-book.html">Contours: A Mathematical Coloring Book</a></h1>
    <div class="date">2013-04-02</div>
    <p><a class="reference external" href="/files/contours.pdf">Here</a> is a mathematical coloring book I recently made.
It contains black and white pictures generated by mathematical formulas which you color in for fun.
Best printed on size A4 paper or bigger.
Enjoy and share!</p>
	

    <div class="blogMeta">        
    Author: Alex Raichev<br>
    Date: 2013-04-02<br>
        Tags:
        <a href="http://raichev.net/tag/math.html">
        math</a>,         <a href="http://raichev.net/tag/art.html">
        art</a>,         <a href="http://raichev.net/tag/book.html">
        book</a><br />
    <a href="http://raichev.net/contours-a-mathematical-coloring-book.html#disqus_thread">Comments</a> -
    <a href="http://raichev.net/contours-a-mathematical-coloring-book.html">Permalink</a>    
    </div>
    </div><!-- end #blogItem -->
    
    <div class="blogItem">
    <h1><a href="http://raichev.net/jumping-jack.html">Jumping Jack</a></h1>
    <div class="date">2013-03-28</div>
    <p>I'd like to present some solutions to the following puzzle that appeared as
<a class="reference external" href="http://programmingpraxis.com/2013/03/22/jumping-jack/">March 22, 2013 Programming Praxis puzzle</a>.</p>
<p>Jack starts at 0 on the number line and jumps one unit in either direction. Each successive jump he makes is longer than the previous by 1 unit, and can be made in either direction.
Design an algorithm that takes an integer n and returns a shortest sequence of jumps that Jack can perform to reach n along with the length of that sequence.</p>
<div class="section" id="algorithm-1">
<h2>Algorithm 1</h2>
<p>Brute-force.
Perform a breadth-first search through the binary tree of all valid jump/integer summand sequences (0, -1, 1, -1 - 2, -1 + 2, 1 - 2, 1 + 2, ...) and stop when the target sum n is reached.</p>
</div>
<div class="section" id="algorithm-2">
<h2>Algorithm 2</h2>
<p>Brute-force with pruning.
Label the nodes of the binary tree with their partial sums and order the nodes of so that the left child is less than the right child (0, -1, 1, -3, -1, -1, 3, ...).
Notice that every pair of nodes at the same height with equal partial sums have equal subtrees.
Notice also that every pair of nodes at the same height with partial sums of opposite sign have mirror image subtrees.
Notice also that flipping the signs/turns of a path with partial sum s yields a path of the same length to -s.
So in our breadth-first search, we don't need to search down a node at a given height if we've already discovered a node at the same height with the same magnitude partial sum.</p>
<p>Analyzing the worst-case time complexity of Algorithm 1 or Algorithm 2 requires knowing at what tree height the given number n is first discovered.
If you can figure that out, then you probably discovered...</p>
</div>
<div class="section" id="algorithm-3">
<h2>Algorithm 3</h2>
<p>Smart-force.
Find the least integer k such that t_k := 1 + 2 + 3 + ... + k &gt;= |n| and t_k has the same parity (evenness/oddness) as |n|.
Then flip the signs of the summands of t_k in a systematic way to total n.</p>
<p>Here are the details.
Notice that t_k = k(k + 1)/2, a triangular number.
Setting t_k = |n| and solving for k gives the ceiling of (-1 + sqrt(1 + 8 |n|))/2.
So k equals the ceiling or 1 or 2 plus it, whichever of those three numbers has the same parity as n and is least.
Here we're using the fact that the set {t, t + s, t + s + (s + 1)} of three consecutive triangular numbers contains both even and odd numbers for any positive integers t, s.
(Simply check all four parity possibilities for t, s.)</p>
<p>To find a minimal length sum for n, first compute d := (t_k - n)/2.
Because t_k &gt;= |n| and t_k and n have the same parity, d lies in the set {0, 1, 2, ..., t_k}.
Now repeatedly subtract: d = a_k (k) + r_k, r_k = a_{k-1} (k-1) + r_{k-1}, ..., r_2 = a_1 (1) + r_1, choosing each a_i maximally in {0, 1}.
By the lemma below,  r_1 = 0.
So d = sum_{i=1}^k a_i i.
Thus n = t_k - 2d = sum_{i=1}^k i - sum_{i=1}^k 2a_i i = sum_{i=1}^k (1 - 2a_i) i and 1 - 2a_i in {-1, 1}.
So the sequence b_i := 1 - 2a_i is a path, and by the minimality of k, b_i is a minimal path.</p>
</div>
<div class="section" id="algorithm-3-example">
<h2>Algorithm 3 example</h2>
<p>Consider the target number n=12.
According to Algorithm 3, the possibilities for k are 5, 6, 7.
The corresponding values of t_k are 15, 21, and 28.
Since 28 is the least of these with the same parity as n, we see that k=7.
So d = (t_k - n)/2 = 8, which we write as 1 + 7 according to the algorithm.
Thus a shortest path to 12 is -1 + 2 + 3 + 4 + 5 + 6 - 7.</p>
<p>I say <em>a</em> shortest path, because shortest paths aren't unique in general.
For example, 1 + 2 -3 + 4 - 5 + 6 + 7 also works.</p>
</div>
<div class="section" id="algorithm-3-correctness">
<h2>Algorithm 3 correctness</h2>
<p><em>Lemma</em>: Let A_k = {0, 1, 2, ..., t_k}.
Then a number lies in A_k if and only if it can be expressed as a sum sum_{i=1}^k a_i i for some a_i in {0, 1}.</p>
<p><em>Proof</em>: By induction on k.
First, 0 = sum_{i=1}^0 1, the empty sum.
Now suppose the result holds for all k - 1 &gt;= 0 and let d in A_k.
Repeatedly subtract: d = a_k (k) + r_k, r_k = a_{k-1} (k-1) + r_{k-1}, ..., choosing each a_i maximally in {0, 1} and stopping at the first r_j in A_j for some j &lt; k.
Then by the induction hypothesis, r_j = sum_{i=0}^j b_i i for some b_i in {0, 1}.
Then d = r_j + sum_{i=j+1}^k a_k i, as desired.
Conversely, a sum s := sum_{i=1}^k a_i i for a_i in {0, 1} satisfies 0 &lt;= s &lt;= sum_{i=1}^k i = t_k, and so s in A_k.</p>
</div>
<div class="section" id="algorithm-3-time-complexity">
<h2>Algorithm 3 time complexity</h2>
<p>Assuming that arithmetic operations are constant time, it takes O(1) time to compute k from n, and hence the length of a minimal path to n.
Then it takes O(k) time to find a minimal length sum for d and O(k) time to use that sum to produce a minimal length sum for n.
So O(k) = O(sqrt(n)) time all up.</p>
</div>
	

    <div class="blogMeta">        
    Author: Alex Raichev<br>
    Date: 2013-03-28<br>
        Tags:
        <a href="http://raichev.net/tag/algorithm.html">
        algorithm</a>,         <a href="http://raichev.net/tag/puzzle.html">
        puzzle</a><br />
    <a href="http://raichev.net/jumping-jack.html#disqus_thread">Comments</a> -
    <a href="http://raichev.net/jumping-jack.html">Permalink</a>    
    </div>
    </div><!-- end #blogItem -->
    <div class="pagination">
    <ul>
        <li class="prev"><a href="
            http://raichev.net/blog2.html"
            >&laquo;</a></li>
        <li><a href="
            http://raichev.net/blog.html"
            class=""
            >1</a></li>
        <li><a href="
            http://raichev.net/blog2.html"
            class=""
            >2</a></li>
        <li><a href="
            http://raichev.net/blog3.html"
            class="active"
            >3</a></li>
        <li><a href="
            http://raichev.net/blog4.html"
            class=""
            >4</a></li>
        <li><a href="
            http://raichev.net/blog5.html"
            class=""
            >5</a></li>
        <li><a href="
            http://raichev.net/blog6.html"
            class=""
            >6</a></li>
        <li><a href="
            http://raichev.net/blog7.html"
            class=""
            >7</a></li>
        <li><a href="
            http://raichev.net/blog8.html"
            class=""
            >8</a></li>
        <li><a href="
            http://raichev.net/blog9.html"
            class=""
            >9</a></li>
        <li class="next"><a href="
            http://raichev.net/blog4.html"
            >&raquo;</a></li>
    </ul>
    </div>
  
</div><!-- end #mainContent -->

<div class="clearfloat"></div>

<div id="footer">
<p>Site powered by <a href="http://getpelican.com">Pelican</a>
</div><!-- end #footer -->

</div><!-- end #container -->
    <script type="text/javascript">
        var disqus_shortname = 'homesweetelectronichome';
        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>
</body>
</html>